@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
    overscroll-behavior: contain;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 9999px;
    border: 2px solid transparent;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }
}
